<div class="container"> <!-- ここを追加 -->
  <div class="row">   <!-- ここを追加 -->
   <div class="col-lg-9" style="background-color: white;"> 
      <h1>
      Welcome to
      <span class="glyphicon glyphicon-book">
      </span>
      <strong>Bookers</strong>
      !
	  </h1>
   </div>
